<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
            />
    <title></title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/jquery-2.0.3.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../js/index.js"></script>
    <script src="../assets/js/jquery.nicescroll.min.js"></script>
</head>
<body>

<div class="container">

    <div class="content">

        <div class="main m-width">
           <div class="manual">
            <form role="form" class="myForm">
                <div class="des">
                    <div class="step">第一步</div>
                    <div class="name">定义取证名称</div>
                </div>
                <div class="form-group">
                    <label><span style="color:red">*</span>取证名称：</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="des">
                    <div class="step">第二步</div>
                    <div class="name">输入目标地址</div>
                </div>
                <div class="form-group">
                    <label><span style="color:red">*</span>目标地址：</label>
                    <input type="text" class="form-control" id="addr">
                </div>
                <div class="btnGroup">
                    <button type="button" class="btn btn-primary wyqzSubmit">确定</button>
                    <button type="button" class="btn btn-success reset">重置</button>
                </div>
            </form>
           </div>
        </div>
    </div>
</div>

<div class="up"><i class="icon-arrow-up"></i></div>

</body>

</html>