<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
            />
    <title></title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/responsive.css">

    <link rel="stylesheet" href="../assets/js/layer/skin/moon/style.css">
    <script src="../js/jquery-2.0.3.min.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../js/index.js"></script>
    <script src="../assets/js/jquery.nicescroll.min.js"></script>
    <!--<script src="../assets/js/echart/echarts.js"></script>-->
    <!--<script src="../js/chart.js"></script>-->

    <script src="../assets/js/layer/layer.js"></script>
    <style>
        .info-detail,.info{
            padding:20px;

        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-5">
        <div class="info-detail">
            <div class="list">
                <span>保全号:</span>
                <span>201704182736123</span>
            </div>
            <div class="list">
                <span>作品标题：</span>
                <span>百度</span>
            </div>
            <div class="list">
                <span>作品地址：</span>
                <span>http://www.baidu.com</span>
            </div>
            <div class="list">
                <span>保全人：</span>
                <span>15382892213</span>
            </div>
            <div class="list">
                <span>保全时间：</span>
                <span>2017-02-23 13：02：23</span>
            </div>

        </div>
    </div>
    <div class="col-sm-7">
        <div class="info">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#menu1">截图</a></li>
                <li><a data-toggle="tab" href="#menu2">代码</a></li>
                <li><a data-toggle="tab" href="#menu3">文本</a></li>
                <li><a data-toggle="tab" href="#menu4">服务器</a></li>

            </ul>

            <div class="tab-content">
                <div id="menu1" class="tab-pane fade in active">
                    <h3>截图</h3>
                   <img src="../img/b1.jpg" style="width:100%;height:100%">
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>代码</h3>
                   <pre>
                         <h3>菜单 2</h3>
                    <p>这是菜单 2 显示的内容。这是菜单 2 显示的内容。这是菜单 2 显示的内容。</p>
                   </pre>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>文本</h3>
                   <pre>
                         <h3>菜单 2</h3>
                    <p>这是菜单 2 显示的内容。这是菜单 2 显示的内容。这是菜单 2 显示的内容。</p>
                   </pre>
                </div>
                <div id="menu4" class="tab-pane fade">
                    <h3>服务器</h3>

                       <div class="infoTable" style="background-color: #f5f5f5;border:1px solid #ccc;padding:9.5px;border-radius: 4px;font-size:12px;">
                        <div class="responsiveTable">
                            <table class="table table-bordered">
                                <caption>域名解析服务器</caption>
                                <tbody>
                                <tr>
                                    <td>服务器IP</td>
                                    <td>129.122.33.44</td>
                                </tr>
                                <tr>
                                    <td>端口</td>
                                    <td>52</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="responsiveTable">
                            <table class="table table-bordered">
                                <caption>目标域名别名</caption>
                                <tbody>
                                <tr>
                                    <td>目标域名0</td>
                                    <td>www.a.dd.com</td>
                                </tr>
                                <tr>
                                    <td>目标域名1</td>
                                    <td>www.aff.dd.com</td>
                                </tr>
                                <tr>
                                    <td>目标域名2</td>
                                    <td>www.gf.dd.com</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="responsiveTable">
                            <table class="table table-bordered">
                                <caption>目标服务器群</caption>
                                <tbody>
                                <tr>
                                    <td>服务器IP0</td>
                                    <td>www.a.dd.com</td>
                                </tr>
                                <tr>
                                    <td>服务器IP1</td>
                                    <td>www.aff.dd.com</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="responsiveTable">
                            <table class="table table-bordered">
                                <caption>取证目标服务器</caption>
                                <tbody>
                                <tr>
                                    <td>目标服务器IP</td>
                                    <td>www.a.dd.com</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="responsiveTable">
                            <table class="table table-bordered">
                                <caption>路由节点</caption>
                                <tbody>
                                <tr>
                                    <td>路由节点0</td>
                                    <td>193.34.523.13</td>
                                </tr>
                                <tr>
                                    <td>路由节点1</td>
                                    <td>129.293.10.34</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                     </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function img(){
        //iframe层
        layer.open({
            type: 2,
            title: 'layer mobile页',
            shadeClose: true,
            shade: 0,

            zIndex:3,//重点1
//            area: ['380px', '90%'],
            content: '../evidence/evidence-detail.html' //iframe的url
        });
    }
</script>
</body>
</html>